# Clickhouse
CLICKHOUSE_TAG=23.8.4.69-alpine
CLICKHOUSE_DB=my_database
CLICKHOUSE_USER=myuser
CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT=1
CLICKHOUSE_PASSWORD=T0pSecretPass1

#Mage
MAGE_TAG=0.9.36
MAGE_PROJECT_NAME=data_pipelines
MAGE_DATA_DIR=/opt/data/mage_data

# Minio
MINIO_TAG=RELEASE.2023-10-16T04-13-43Z
MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=minio123