version: '3.1'

include:
  - superset-compose.yaml

services:
  mageai:
    image: "mageai/mageai:${MAGE_TAG}"
    container_name: mageai
    ports:
      - "6789:6789"
    volumes:
      - .:/home/src
      - "mage_data:${MAGE_DATA_DIR}"
    command: "/app/run_app.sh mage start ${MAGE_PROJECT_NAME}"
    environment:
      - "MAGE_DATA_DIR=${MAGE_DATA_DIR}"
  clickhouse:
    image: "clickhouse/clickhouse-server:${CLICKHOUSE_TAG}"
    container_name: clickhouse
    environment:
      - "CLICKHOUSE_DB=${CLICKHOUSE_DB}"
      - "CLICKHOUSE_USER=${CLICKHOUSE_USER}"
      - "CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT=${CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT}"
      - "CLICKHOUSE_PASSWORD=${CLICKHOUSE_PASSWORD}"
    volumes:
      - "clickhouse_data:/var/lib/clickhouse"
      - "clickhouse_logs:/var/log/clickhouse-server"
    ulimits:
      nofile:
        soft: 262144
        hard: 262144
    ports:
      - "9000:9000"
      - "8123:8123"
  init-clickhouse:
    image: "clickhouse/clickhouse-server:${CLICKHOUSE_TAG}"
    container_name: init-clickhouse
    environment:
      - "CLICKHOUSE_DB=${CLICKHOUSE_DB}"
      - "CLICKHOUSE_USER=${CLICKHOUSE_USER}"
      - "CLICKHOUSE_PASSWORD=${CLICKHOUSE_PASSWORD}"
    volumes:
      - ./scripts:/opt/scripts
    depends_on:
      - clickhouse
    entrypoint: /bin/bash
    command: ["/opt/scripts/create_readonly_user.sh", "${SUPERSET_CLICKHOUSE_USER}", "${SUPERSET_CLICKHOUSE_PASSWORD}"]
  minio:
    image: "quay.io/minio/minio:${MINIO_TAG}"
    container_name: minio
    ports:
      - "29000:9000"
      - "9090:9090"
    environment:
      - "MINIO_ROOT_USER=${MINIO_ROOT_USER}"
      - "MINIO_ROOT_PASSWORD=${MINIO_ROOT_PASSWORD}"
    volumes:
      - minio_data:/data
    command: server /data --console-address ":9090"
  init-mino:
    image: "minio/mc:latest"
    depends_on:
      - minio
    container_name: init-mino
    entrypoint: >
      /bin/sh -c "
      /tmp/wait-for-it.sh minio:9000 &&
      /usr/bin/mc alias set minio http://minio:9000 ${MINIO_ROOT_USER} ${MINIO_ROOT_PASSWORD} &&
      /usr/bin/mc mb minio/${DATALAKE_BUCKET_NAME};
      exit 0;
      "
    volumes:
      - ./scripts/wait-for-it.sh:/tmp/wait-for-it.sh

volumes:
  mage_data:
      driver: local
  clickhouse_data:
    driver: local
  clickhouse_logs:
    driver: local
  minio_data:
    driver: local